<div class="container">
  <app-header />

  <div class="p-5 mt-3 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Bem-vindo à Loja Virtual Minsait</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Explore a nossa loja virtual e descubra uma ampla variedade de produtos de
      alta qualidade.
    </p>
    <div class="d-inline-flex gap-2">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        <i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Adicionar
        Produto
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        <i class="fa fa-bell" aria-hidden="true"></i> Saiba Mais
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3" *ngFor='let product of products'>
      <app-card [product]="product" />
    </div>
  </div>


  <router-outlet></router-outlet>
</div>